.fpItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fpItemImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.fpItemName {
    color: #333;
    font-weight: bold;
}

.fpItemCity {
    font-weight: 300;
}

.fpItemPrice {
    font-weight: 500;
}

.fpItemRating > button {
    border: none;
    background-color: #003580;
    color: white;
    padding: 3px;
    font-weight: bold;
    margin-right: 10px;
}
.fpItemRating > span {
    font-size: 14px;
}