.hotelContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.hotelWrapper {
    position: relative;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hotelTitle {
    font-size: 24px;
}

.hotelAddress {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hotelDistance {
    color: #0071c2;
    font-weight: 500;
}

.hotelPriceHightlight {
    color: #008809;
    font-weight: 500;
}

.hotelImages {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hotelImageWrapper {
    width: 33%;
}
.hotelImage {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.hotelDetails {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.hotelTexts {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hotelDesc {
    font-size: 14px;
}

.hotelPrice {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ebf3ff;
    padding: 20px;
}

.hotelPrice > h1 {
    font-size: 18px;
    color: #555;
}

.hotelPrice > span {
    font-size: 14px;
}

.hotelPrice > h2 {
    font-weight: 300;
}

.hotelButton {
    border: none;
    background-color: #0071c2;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.booknowButton {
    position: absolute;
    right: 0;
    top: 10px;
}