.searchItem {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 5px;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

.siImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    flex: 1;
}

.siDesc {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}

.siDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.siTitle {
    font-size: 20px;
    color: #0071c2;
}


.siTaxiOp {
    background-color: #008009;
    color: white;
    padding: 3px;
    border-radius: 5px;
    width: max-content;
}

.siSubtitle {
    font-weight: bold;
}

.siCancelOp {
    font-weight: bold;
    color: #008009;
}

.siCancelOpSubtitle {
    color: #008009;
}

.siRating {
    display: flex;
    justify-content: space-between;
}

.siRating > span{
    font-weight: 500;
}

.siRating > button{
    border: none;
    font-weight: bold;
    color: white;
    background-color: #003580;
    padding: 5px;
}

.siTexts {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 5px;
}

.siPrice {
    font-size: 24px;
}

.siTax {
    font-size: 12px;
    color: grey;
}

.siButton {
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #0071c2;
    border-radius: 5px;
    padding: 10px 5px;
}