.centerCard {
    background-color: #f0f4f8;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 320px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cardLogo {
    color: #007bff;
    font-size: 22.4px;
    font-weight: bold;
}

.cardContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.cardContent > h2 {
    text-align: center;
    color: #333;
}
.cardContent > input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}
.cardContent > button {
    background-color: #007bff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer
}

.cardContent > a {
    color: blue;
    text-decoration: underline;
}