.navbar {
    background-color: #003580;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}
.navbarContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: 500;
}


.navbarButton {
    margin-left: 20px;
    color: #003580;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}