.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}
.headerListItem {
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDescription {
    margin: 20px 0;
}

.headerButton {
    background-color: #0071c2;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
}