.mail {
    width: 100%;
    background-color: #003580;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    margin-top: 50px;
    color: white;
}

.mailInputContainer > input {
    border: none;
    width: 300px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.mailInputContainer > button {
    height: 50px;
    background-color: #0071c2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}