.slider {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.613);

}
.sliderClose {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
}
.sliderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderImg {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.sliderArrow {
    font-size: 50px;
    margin: 20px;
    color: lightgray;
    cursor: pointer;
}